<footer>
  © 2022, Built with <a href='https://astro.build' target='_blank'>Astro</a>,
  <a href='https://firebase.google.com' target='_blank'>Firebase</a> -
  <a href='https://github.com/tqbdev' target='_blank'>Open Source</a>
</footer>

<style>
  footer {
    background-color: var(--color-main-bg);
    color: var(--color-text);
    height: auto;
    padding: 1rem 2rem;
    font-size: var(--font-size-xm);
  }
</style>
